name: Bump a Homebrew Formula/Cask
# example name: 'Bump texstudio cask to 5.0.0'
run-name: >-
  Bump ${{ inputs.name }}
  ${{ inputs.command == 'bump-formula-pr' && 'formula' || 'cask' }}
  to ${{ inputs.version }}

on:
  workflow_dispatch:
    inputs:
      tap:
        description: 'Tap to add before bumping'
        required: false
        default: 'muzimuzhi/beta'
        type: string
      command:
        description: 'Subcommand to run'
        required: false
        default: 'bump-cask-pr'
        type: choice
        options:
          - 'bump-formula-pr'
          - 'bump-cask-pr'
      # Nowadays casks are updated automatically by scheduled online check.
      # See https://github.com/Homebrew/homebrew-cask/blob/1d1a05e4a48ff1cb10c21b7b89afe8328144d8f4/.github/workflows/scheduled.yml.
      # Therefore `brew bump-cask-pr texstudio` is run much less frequently.
      name:
        description: 'Formula or cask to bump'
        required: false
        default: 'texstudio-beta'
        type: string
      version:
        description: 'New version'
        required: true
        type: string

jobs:
  run-bump:
    name: ${{ inputs.command }}

    runs-on: macos-latest

    steps:
      - name: Config git
        run: |
          git config set --global user.name "${{ secrets.GIT_USER_NAME }}"
          git config set --global user.email "${{ secrets.GIT_USER_EMAIL }}"

      - name: Prepare Homebrew
        run: |
          brew update
          brew tap "${{ inputs.tap }}"

      # https://docs.brew.sh/Manpage#bump-formula-pr-options-formula
      # https://docs.brew.sh/Manpage#bump-cask-pr-options-cask
      - name: Run "brew ${{ inputs.command }}"
        run: |
          if [[ "$INPUT_COMMAND" == "bump-formula-pr" ]]; then
            brew "$INPUT_COMMAND" --no-browse --online \
               --version="$INPUT_VERSION" "$INPUT_NAME"
          else
            brew "$INPUT_COMMAND" --no-browse \
               --version="$INPUT_VERSION" "$INPUT_NAME"
          fi
        env:
          HOMEBREW_GITHUB_API_TOKEN: ${{ secrets.HOMEBREW_GITHUB_API_TOKEN }}
          INPUT_COMMAND: ${{ inputs.command }}
          INPUT_NAME: ${{ inputs.name }}
          INPUT_VERSION: ${{ inputs.version }}

      # run `touch continue` in GITHUB_WORKSPACE to continue
      # https://github.com/mxschmitt/action-tmate/tree/v3/?tab=readme-ov-file#continue-a-workflow
      # - name: Setup tmate session
      #   if: failure()
      #   timeout-minutes: 15
      #   uses: mxschmitt/action-tmate@v3
