name: Hello World workflow

on:
  push:
    paths: &paths
      - '.github/workflows/main.yml'
  pull_request:
    branches:
      - 'main'
    paths: *paths
    types:
      # added "ready_for_review" activity type
      # all activity types of "pull_request" event
      # https://docs.github.com/en/actions/writing-workflows/choosing-when-your-workflow-runs/events-that-trigger-workflows#pull_request
      # on.<event_name>.types
      # https://docs.github.com/en/actions/writing-workflows/workflow-syntax-for-github-actions#onevent_nametypes
      [opened, ready_for_review, reopened, synchronize]
  workflow_dispatch:

jobs:
  build:
    name: Hello world action
    runs-on: ubuntu-latest
    env:
      NORMAL_VALUE: ${{ github.event_name || '' }}
      EMPTY_VALUE: ''
      NULL_VALUE: ${{ github.null || '' }}
    steps:
      - uses: actions/checkout@v6
      - name: Test environment variables
        run: |
          is_set() {
            if [ -v "$1" ]; then
              echo "$1=\"${!1}\""
            else
              echo "$1 is not set"
            fi
          }
          is_set NORMAL_VALUE
          is_set EMPTY_VALUE
          is_set NULL_VALUE
          is_set NOT_SET_VALUE

      # run `touch continue` in GITHUB_WORKSPACE to continue
      # https://github.com/mxschmitt/action-tmate/tree/v3/?tab=readme-ov-file#continue-a-workflow
      - name: Setup tmate session
        if: failure()
        timeout-minutes: 15
        uses: mxschmitt/action-tmate@v3
