name: Test GitHub Actions

on:
  push:
    paths:
      - '.github/workflows/test-github-actions.yml'
  pull_request:
    branches:
      - 'main'
    paths:
      - '.github/workflows/test-github-actions.yml'
    types:
      # added "ready_for_review" activity type
      [opened, ready_for_review, reopened, synchronize]
  workflow_dispatch:
    inputs:
      timeout-minutes:
        description: Timeout minutes for the tmate step (positive integer)
        required: false
        # Max time of a job is 6h
        # https://docs.github.com/en/actions/reference/limits
        default: 120
        type: number
      runner:
        description: Name of runner image
        required: false
        default: macos-latest
        type: string
      commands:
        description: Commands to run
        required: false
        default: ""
        type: string

jobs:
  test:
    name: Hello

    runs-on: ${{ inputs.runner || 'ubuntu-latest' }}

    steps:
      - uses: actions/checkout@v6

      - name: Run dummy commands
        run: |
          ${{ inputs.commands || 'echo "Hello Github Actions"' }}

      # run `touch continue` in GITHUB_WORKSPACE to continue
      # https://github.com/mxschmitt/action-tmate/tree/v3/?tab=readme-ov-file#continue-a-workflow
      - name: Setup tmate session
        # `jobs.<job_id>.steps[*].timeout-minutes` must be a positive integer
        # https://docs.github.com/en/actions/reference/workflows-and-actions/workflow-syntax#jobsjob_idstepstimeout-minutes
        #
        # inputs.timeout-minutes has `number` type, no need to use fromJSON()
        # https://docs.github.com/en/actions/reference/workflows-and-actions/contexts#inputs-context
        if: ${{ inputs && inputs.timeout-minutes > 0 || failure() }}
        # `inputs` object exists => `inputs` is coerced to `true`;
        #              otherwise => `inputs` is `null` thus coerced to `false`
        # Moreover, `inputs` alone used in conditional is equivalent to
        #     github.event_name == 'workflow_call' ||
        #       github.event_name == 'workflow_dispatch'
        # https://docs.github.com/en/actions/reference/workflows-and-actions/expressions#literals
        # https://docs.github.com/en/actions/reference/workflows-and-actions/contexts#inputs-context
        timeout-minutes: ${{ inputs.timeout-minutes || 15 }}
        uses: mxschmitt/action-tmate@v3
